@import "variables"
@import "font"

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background: $dark;
  color: $light;
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

header {
  background: $dark-accent;
  margin-bottom: 4rem;
  box-shadow: 0 1px 3rem rgba(0, 0, 0, 0.2)
}

footer {
  background: $dark-accent;
  padding: 3rem 12rem;
  margin-top: 2rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.post-width {
  width: 55rem;
}

.m-y-small {
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

.m-bot-small {
  margin-bottom: 0.3rem;
}

.m-y-2 {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.m-bot-3 {
  margin-bottom: 3rem;
}

.p-0-2 {
  padding: 0.2rem 0.4rem;
}

.p-y-4 {
  padding: 4rem 0;
}

.m-0 {
  margin: 0;
}

.m-x-0-5 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.inline-v-center-hack {
  height: 3.9rem;
  line-height: 3.9rem;
  white-space: nowrap;
}

.column-gap-2 {
  column-gap: 4ch;
}

.color-light {
  color: $light;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

p, .text-normal {
  font-size: 1.2rem;
}

h1, h2 {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;

  .zola-anchor {
    color: $light;
    visibility: hidden;
    margin-left: 1rem;
    vertical-align: 1%;
    text-decoration: none;
    border-bottom-color: transparent;
    cursor: pointer;

    @media(max-width: $phone-max-width){
        visibility: visible;
    }
  }

  &:hover {
    .zola-anchor {
      visibility: visible;
    }
  }
}

a {
  text-decoration: none;
  color: $accent;

  &:hover {
    text-decoration: underline;
  }
}

pre, code {
  font-family: 'Fira Code', monospace;
  font-feature-settings: "liga";  
  font-size: 1rem;
}

pre {
  padding: 1.5rem 1.2rem;
  border-radius: 0.3rem;
  overflow: auto;
  background: rgba(0, 0, 0, 25%) !important;

  + pre {
    border-top: 0;
    margin-top: -40px;
  }

  code {
    background: none;
  }
}

code {
  padding: 0.1rem 0.6rem;
  background: rgba(0, 0, 0, 25%);
}

.post {
  h2 {
    margin: 2.5rem 0;
    position: relative;
    z-index: 0;

    &:before {
      overflow: hidden;
      z-index: -1;
      content: "";
      position: absolute;
      width: 200vw;
      height: 134%;
      left: -100vw;
      top: -17%;
      background: rgba(0, 0, 0, 25%);
    }
  }

  blockquote {
    font-family: 'Fira Code', monospace;
    background: rgba(0, 0, 0, 25%);
    margin: 0;
    padding: 1rem 4rem;
    border-left: 0;
    border-right: 0;
    border-radius: 0.3rem;

    p {
      font-size: 1rem;
    }
  }

  p {
    line-height: 1.8rem;
  }
}

.inverted-accent {
  background: $dark-accent;
  color: $light;
}

