@font-face {
    font-family: 'Work Sans';
    font-style:  normal;
    font-display: swap;
    src: url(assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Lobster';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url(assets/fonts/Lobster/Lobster-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Crimson Text';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url(assets/fonts/Crimson_Text/CrimsonText-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Crimson Text';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url(assets/fonts/Crimson_Text/CrimsonText-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Fira Code';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("assets/fonts/FiraCode/FiraCode-Regular.woff2") format("woff2"), url("assets/fonts/FiraCode-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Fira Code';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("assets/fonts/FiraCode/FiraCode-Bold.woff2") format("woff2"), url("assets/fonts/FiraCode-Bold.woff") format("woff");
}
