<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {%- block title -%}
        <title>{{ config.title }}</title>
        {%- endblock title -%}
        <link rel="stylesheet" href="/base.css">
    </head>
    <body class="flex flex-col">
        <header class="flex justify-center">
            <div class="flex justify-space-between post-width mobile-flex-col">
                <h1 class="p-y-4 m-0 mobile-p-bot-0 mobile-p-y-2">
                    <a href="/" class="color-light inline-v-center-hack">
                        {{ config.title }}
                    </a>
                    <span class="text-normal"> by {{ config.extra.author }} </span>
                </h1>
                <nav class="p-y-4 m-0 mobile-p-top-0 mobile-p-y-2">
                    {% for link in config.extra.main_menu %}
                    <a href="{{ link.url }}" class="text-normal m-x-0-5 inline-v-center-hack color-light">{{ link.url }}</a>
                    {% endfor %}
                </nav>
            </div>
        </header>
        <section class="flex justify-center flex-grow">
            <div class="post-width">
                {% block content %}{% endblock %}
            </div>
        </section>
        <footer></footer>
    </body>
</html>
