{% extends "base.html" %}

{% block title %}
<title>{{ config.title }} | {{ page.title }}</title>
{% endblock title %}

{% block content %}
<article class="post">
    <h1 class="m-y-small"> {{ page.title }} </h1>
    <h5 class="m-y-small m-bot-3">‹‹ {{ page.date }} ›› </h5>
    {{ page.content | safe }}
</article>

<span class="divider"></span>
<script src="https://utteranc.es/client.js"
        repo="LeoRiether/leoriether.github.io"
        issue-term="pathname"
        label="utterances-post"
        theme="dark-blue"
        crossorigin="anonymous"
        async>
</script>
{% endblock content %}

